* {
  font-family: 'Lato', sans-serif;
}

.color_white {
  color: white;
}

.color_grey {
  color: grey;
}

.color_lightgrey {
  color: lightgrey;
}

.generalwrapper {
  display: flex;
  justify-content: flex-start;
}

/* Left_fixed */
.left_fixed {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 200px;
  height: 95vh;
  background-color: black;
  border: 1px solid black;
  padding: 20px;
}

.left_logosection {
  height: 40px;
  /* background-color: red; */
  padding: 3%;
  display: flex;
  justify-content: center;
}

.left_logosection > img {
  max-height: 30px;
}

.leftnav_bar {
  /* background-color: blue; */
}

.leftnav_bar > a {
  display: block;
  font-size: 15px;
  padding-bottom: 20px;
  text-decoration: none;
}

.leftnav_bar > a:hover {
  color: white;
}

.leftnav_bar > .active {
  color: #00D856;
}

.leftnav_bar > a > i , .bottom_section > a > i {
  padding-right: 10px;
  padding-bottom: 10px;
}

.center_section {
  /* background-color: yellow; */
}

.center_section > .recent_song, .recent_playlist {
  font-size: 10px;
  font-weight: 700;
}

.center_section > h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.bottom_section > hr {
  margin: 10px 0;
}

.bottom_section > a {
  font-size: 18px;
  font-weight: 600;
}

.bottom_section > a {
  font-size: 18px;
  text-decoration: none;
}

.bottom_section > a:hover {
  color: white;
}
/*fine left_fixed left*/

/* right_section */
.right_section {
 height: 1000px;
 width: 100%;
 background-image:linear-gradient(#353736, black);
 display: flex;
 flex-direction: row;
}

@media screen and (max-width: 600px) {
  .hamburgher_menu {
    display: block;
  }
  .righthead {
    display: none;
  }
  .right_logosection {
    display: block;
  }
}

.header_wrapper {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
}

.right_logosection {
  position: absolute;
  align-self: flex-start;
  margin: 35px 20px;
  display: none;
}

.right_logosection > img {
  height: 50px;
}

.hamburgher_menu {
  position: absolute;
  align-self: flex-end;
  margin: 40px 20px;
  display: none;
}

.hamburgher_menu > a {
  padding: 15px 30px;
  font-size: 30px;
  color: grey;
}

.hamburgher_menu > a:hover {
  color: white;
}

.righthead {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-self: center;
}

.righthead > a {
  display: block;
  margin-right: 20px;
  font-weight: 600;
  text-decoration: none;
}

.righthead > a:hover {
  color: white;
}



/*Fine right_section */

/*bottom_section */
.bottom_fixed {
 height: 10vh;
 width: 100%;
 background-color: blue;
 position: fixed;
 bottom: 0px;
 left: 0px;
}
